<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Posts
      </h1>
      <h2 class="subtitle">
      <%if user_signed_in? %>
        <%= link_to '+ New Post', new_post_path, class:"button is-info" %>
      <% else %>  
        Sign in or Sing up to create new posts and view authors
      <%end%>  
      </h2>
    </div>
  </div>
</section>

<div class="columns">
<div class="column is-half is-offset-one-quarter">
<% @posts.each do |post| %>

    <div class="box">
      <div class="media-content">
        <p class="title is-4 mb-1"><%= post.title %></p>
        <%if user_signed_in? %>
        <p class="subtitle is-6 has-text-info mt-0 mb-2">by <strong ><%= post.user.name %></strong></p>
        <%else%>
        <p class="subtitle is-6 has-text-info mt-0 mb-2">by <strong> Anonymous</strong></p>
        <%end %>
      </div>
    


      <%= post.body %>
    </div>

<% end %>
</div>




<br>


