<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Create a new post
      </h1>
      <h2 class="subtitle">
      Share your story, your identity will be a secret!
      </h2>
    </div>
  </div>
</section>
<div class="columns">
<div class="column is-half is-offset-one-quarter ">

<%= render 'form', post: @post %>

</div>
</div>

<%= link_to 'Back', posts_path %>
